*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    overflow-x: hidden;
    text-align: center;
}
.container{
    width: 100%;
    background-color: #fcfcfc;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px auto;
    padding: 25px 30px;
}
.card{
    width: 23%;
    height: 350px;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.26);
    box-shadow: -5px 10px 15px  rgba(0, 0, 0, 0.371);
  
}
.card img{
    width: 100%;
    height: 300px;
    object-fit: contain;
}
.card button{
    display: block;
    width: 100%;
    height: 50px;
    background-color: mediumturquoise;
    color: #fff;
    font-size: 22px;
    text-decoration: none;
    font-weight: 700;
    outline: none;
    border: none;
    cursor: pointer;
}
#myTable,#myTable1{
    margin: 100px auto;
    width: 50%;            
}
#myTable td,th{
    border: 1px solid #000;
    padding: 5px;
}
input[type="button"]{
    width: 100%;
    font-size: 22px;
    cursor: pointer;
}
.img_box{
    margin: 50px auto;
    width: 60%;
    position: relative;
}
.img_box h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 45px;
    letter-spacing: 15px;
    text-shadow: 15px 15px 25px #000;
  
}
.img{
    border: 2px solid red;
    width: 100%;
    object-fit: contain;
    z-index: 111;
}
.button{
    padding: 10px 35px;
    background-color: cornflowerblue;
    border: none;
    outline: none;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
}
form{
    margin: 50px auto;
    width: 70%;
    background-color: cornflowerblue;
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.363);
}
form h1{
    color: #fff;
    font-weight: 900;
    font-size: 40px;
    margin: 15px 0;
}
form input[type='button']{
    margin-top: 15px;
    width: 200px;
    height: 45px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    background-color: #000;
}
.form_group{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
}
.form_group label{
    width: 30%;
    color: #fff;
    font-weight: 600;
    font-size: 22px;
    text-align: justify;
}
.form_group input{
    width: 70%;
    padding: 15px 25px;
    border: rgb(0, 0, 0) .5px solid;
    border-radius: 25px;
    outline: none;
    font-size: 16px;
}
#form_data{
    width: 100%;
    height: 50%;
    border-radius: 10px;
    background: rgb(20, 197, 20);
    color: #000;
    font-size: 17px;
    font-weight: 700;
    padding: 10px 50px;
    text-align: justify;
}
p{
    text-align: justify;
}
#more,#btn1{
    display: none;
}
.gallery{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
   padding: 50px 20px;
   background-color: #f3f3f3;
}
.gallery img{
   width: 250px;
   height: 200px;
   object-fit: cover;
   margin: 10px 5px;
   border: 1px solid #000;
   cursor: pointer;
   transition: transform .3s;
}
.gallery img:hover{
transform: scale(1.2)
}
#model_gallery{
   width: 100%;
   background-color: #000;
    display: none;
    position: relative;
    padding:  100px;
}
#model_gallery img{
   width: 100%;
   height: 500px;
   object-fit: cover;
   object-position: center;
   z-index: -1;
   box-shadow: -10px -5px 50px rgba(255, 255, 255, 0.582);
}
#model_gallery .prevbtn{
position: absolute;
z-index: 111;
top: 50%;
left: 5%;
transform: translate(-5%,-50%);
background-color: rgb(175, 243, 65);
border: none;
outline: none;
width: 100px;
height: 40px;
font-size: 20px;
cursor: pointer;
}
#model_gallery .nextbtn{
position: absolute;
z-index: 111;
top: 50%;
right: 5%;
transform: translate(-5%,-50%);
background-color: rgb(175, 243, 65);
border: none;
outline: none;
width: 100px;
height: 40px;
font-size: 20px;
cursor: pointer;
}
#close_btn{
   width: 25px;
   height: 25px;
   position: absolute;
   top: 5%;
   right: 5%;
   transform: translate(-5%,-5%);
   cursor: pointer;
}
#close_btn i{
   width: 100%;
   height: 3px;
   background-color: chartreuse;
   border-radius: 5px;
   position: absolute;
   top: 0;
   left: 0;
}
#close_btn i:nth-child(1){
    margin-top: 10px;
   transform: rotate(45deg);
}
#close_btn i:nth-child(2){
    margin-top: 10px;
   transform: rotate(-45deg);
}